In [28]:
import numpy as np
import scipy as sp
import os
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import datetime

In [31]:
competitions = pd.DataFrame.from_csv('WCA_export_Competitions.tsv', sep='\t', index_col=None)

# correct the longitude and latitude
competitions['latitude'] = competitions['latitude'] / 1000000
competitions['longitude'] = competitions['longitude'] / 1000000
competitions['startDate'] = competitions.apply(lambda x: pd.datetime.strptime("{0} {1} {2} 00:00:00".format(x['year'],x['month'], x['day']), "%Y %m %d %H:%M:%S"),axis=1)

competitions.head()

,id,name,cityName,countryId,information,year,month,day,endMonth,endDay,...,wcaDelegate,organiser,venue,venueAddress,venueDetails,external_website,cellName,latitude,longitude,startDate
0,150thCubeMeetinginBrest2017,150th Cube Meeting in Brest 2017,Brest,Belarus,"Registration will be closed on July, 16 or whe...",2017,7,22,7,23,...,[{Ilya Tsiareshka}{mailto:ilya21tereshko@gmail...,[{Ilya Tsiareshka}{mailto:ilya21tereshko@gmail...,[Brest Regional Centre of Olympic Reserve for ...,"street Oktyabrskoy revolyutsii, 2",On the second floor in conference hall,http://vk.com/cmb150,150 Cube Meeting in Brest 2017,52.082331,23.741572,2017-07-22
1,1AVG2013,1 AVG competition 2013,Delft,Netherlands,"This, very serious (not an April Fools joke), ...",2013,4,1,4,1,...,[{Ron van Bruchem}{mailto:rbruchem@worldcubeas...,NaN,[Scouting Paulus](http://scoutingpaulus.nl),"Baden Powellpad 2, Delft",NaN,http://waschbaerli.com/wca/1avg,1 AVG 2013,52.010740,4.356539,2013-04-01
2,1BodyCubing2017,1 Body Cubing 2017,"Pueblo, Colorado",USA,$15 base fee (includes 3x3) + $2 for each even...,2017,6,3,6,3,...,[{Daniel Hayes}{mailto:spdqbr@gmail.com}],[{Joel Davis}{mailto:rmfcjoel@gmail.com}] [{Tr...,[Rocky Mountain Family Church](http://rmfchurc...,"1700 Horseshoe Drive Pueblo, CO, 81001",Signs will be posted,https://www.cubingusa.com/1BodyCubing2017/,1 Body Cubing 2017,38.293909,-104.592919,2017-06-03
3,2AVG2014,2 AVG competition 2014,Delft,Netherlands,NaN,2014,2,2,2,2,...,[{Ron van Bruchem}{mailto:rbruchem@worldcubeas...,NaN,[Scouting Paulus](http://scoutingpaulus.nl),"Baden Powellpad 2, Delft",NaN,http://www.waschbaerli.com/wca/2avg/,2 AVG 2014,52.010740,4.356539,2014-02-02
4,2FTISanDiego2016,2FTI San Diego 2016,"San Diego, California",USA,The cost of registration is $7+2n where n is t...,2016,12,10,12,10,...,[{Michael Young}{mailto:not.kevin.888@gmail.com}],[{Henry Helmuth}{mailto:henryhelmuth98@gmail.c...,[UCSD](http://universitycenters.ucsd.edu/),"9500 Gilman Drive, San Diego, CA 92093",Price Center West (Ballroom AB),NaN,2FTI San Diego 2016,32.879713,-117.235894,2016-12-10

In [45]:
competitions = competitions.sort_values("startDate")

In [57]:
firstCompetitions = competitions.groupby("countryId").first()["id"]

In [67]:
firstCompetitionsList = list(firstCompetitions)

In [63]:
results = pd.DataFrame.from_csv('WCA_export_Results.tsv', sep='\t', index_col=None)
results.head()

,competitionId,eventId,roundTypeId,pos,best,average,personName,personId,personCountryId,formatId,value1,value2,value3,value4,value5,regionalSingleRecord,regionalAverageRecord
0,LyonOpen2007,333,1,15,1968,2128,Etienne Amany,2007AMAN01,Cote d_Ivoire,a,1968,2203,2138,2139,2108,AfR,AfR
1,LyonOpen2007,333,1,16,1731,2140,Thomas Rouault,2004ROUA01,France,a,2222,2153,1731,2334,2046,NaN,NaN
2,LyonOpen2007,333,1,17,2305,2637,Antoine Simon-Chautemps,2005SIMO01,France,a,3430,2581,2540,2789,2305,NaN,NaN
3,LyonOpen2007,333,1,18,2452,2637,Irène Mallordy,2007MALL01,France,a,2715,2452,2868,2632,2564,NaN,NaN
4,LyonOpen2007,333,1,19,2677,2906,Marlène Desmaisons,2007DESM01,France,a,2921,3184,2891,2677,2907,NaN,NaN

In [82]:
firstCompsResults = results[results["competitionId"].isin(firstCompetitionsList)]

In [85]:
firstCompsResults.head()

,competitionId,eventId,roundTypeId,pos,best,average,personName,personId,personCountryId,formatId,value1,value2,value3,value4,value5,regionalSingleRecord,regionalAverageRecord
681,GuangdongOpen2007,222,f,1,554,631,Timothy Sun,2007SUNT01,USA,a,581,647,666,554,840,NaN,NaN
682,GuangdongOpen2007,222,f,2,709,820,Zhulu Ke (柯助錄),2007KEZH01,Macau,a,915,875,711,875,709,NR,NR
683,GuangdongOpen2007,222,f,3,526,838,Yi Wei (危毅),2007WEIY01,China,a,1015,705,526,917,893,NR,NR
684,GuangdongOpen2007,222,f,4,844,927,Ganyuan Jiang (江淦源),2007JIAN02,China,a,844,906,888,986,1122,NaN,NaN
685,GuangdongOpen2007,222,f,5,538,1013,Joshua Li,2007LIJO01,Australia,a,1403,1152,538,1155,733,OcR,OcR

In [86]:
# sum of 3x3 final podium results
sumPodium = firstCompsResults[(firstCompsResults['pos'] < 4) & (firstCompsResults['eventId'] == '333') & (firstCompsResults['roundTypeId'] == 'f')].groupby('competitionId').sum()

In [96]:
sortedPodiums = sumPodium.sort_values("average")

In [113]:
output = sortedPodiums.drop(["pos", "best", "value1", "value2", "value3", "value4", "value5"], axis=1)

In [114]:
output.to_csv('bestFirstCompPodiumCountry.txt')